.team {
  @extend %section;
  text-align: center;

  background-color: $singleBackground-color;
}

.team__container {
  @extend %container;
}

.team__title {
  @extend %titleTextList;
  @include title();
}

.team__list {
  @extend %titleTextList;
  display: flex;
}
